.item-buttons{
    background-color:red;
    border-color:darkred;
    color:white;
    padding:5px 10px;
}

.item-buttons:hover{
    cursor:pointer;
}

.flex-container{
    display:flex;
    width:95%;
    flex-direction:row;
    align-items:flex-start;
    justify-content:space-between;
    padding-top:45px;
    padding-left:30px;
}

.flex-left{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-color:#f9dbd9;
    padding:10px;
}

.flex-left>div{
    background-color:white;
}

.flex-left>#me{
    background-color:#f9dbd9;
}

#me-name{
    font-size:35px;
    margin-bottom:0px;
}

#me-id{
    margin-top:5px;
    color:gray;
    font-size:15px;
}