h1, h2{
    margin-bottom:0px;
}

h1{
    font-size:35px;
}

.item-buttons{
    background-color:red;
    border-color:darkred;
    color:white;
    padding:5px 10px;
}

.item-buttons:hover{
    cursor:pointer;
}

.flex-container{
    display:flex;
    width:95%;
    flex-direction:row;
    align-items:flex-start;
    justify-content:space-between;
    padding-top:45px;
    padding-left:30px;
}

.flex-left{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-color:#f9dbd9;
    padding:15px;
}

.post-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:#f9dbd9;
    padding:15px;
    margin-left:5px;
}

.flex-left>div{
    background-color:white;
    width:275px;
}

.flex-left>#me{
    background-color:#f9dbd9;
}

.post-container>#post-butt{
    align-items:baseline;
    padding-top:5px;
}

#me-id{
    margin-top:5px;
    color:gray;
    font-size:15px;
}

#image{
    max-width:95%;
    max-height:95%;
}

#group-butt{
    background-color:#f9dbd9;
    padding-top:5px;
}