<html>
<header>
	<title>Error Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_butt_nav_logo.css')}}">
</header>
<body style="color:darkred;">
    <header role="banner">
        <h2 id="logo">Mad Chatter</h2>
        <a href="/home"><button type="button" class="nav-buttons">Home</button></a>
        <a href="/profile/{{username}}"><button type="button" class="nav-buttons">My Profile</button></a>
        <a href="/notif"><button type="button" class="nav-buttons">Notifications</button></a>
        <a href="/change_password"><button type="button" class="nav-buttons">Settings</button></a>
        <a href="/logout"><button type="button" class="nav-buttons">Logout</button></a>
    </header>
	<h1 style="font-size:40px;">Error</h1>
	{% if error == "share" %}
	<p>The post could not be shared with that group because that group does not exist, or you are not a member of it.</p>
	{% endif %}
	{% if error == "usernotfound" %}
	<p>The user you were looking for could not be found.</p>
	{% endif %}
	{% if error == "generror" %}
	<p>An error occurred somewhere.</p>
	{% endif %}
	{% if error == "alreadymember" %}
	<p>That user is already a member of the group.</p>
	{% endif %}
	{% if error == "alreadytagged" %}
	<p>That user has already been tagged in this content item.</p>
	{% endif %}
	{% if error == "groupExists" %}
	<p>A group by this name already exists.</p>
	{% endif %}
</body>
