<html>
<header>
	<h1>Your Friendgroups </h1>
</header>
<body>
</body>
	<td><a href="/create_group">Create Group</a></td>
	<table>
    <th>Group Name</th>
	<th>Action</th>
    {% for group in group_list %}
    	<tr>
    		{% if group_list %}
    		<td>{{group.group_name}}</td>
    		<td><button><a href="/add_friend/{{group.group_name}}">Add user to this group</a></button></td>
    		{% endif %}
    	</tr>
    {% endfor %}
    </table>
    {% if message %}
   	<p><strong> {{message}}</strong></p>
   	{% endif %}
   	{% if error %}
   	<p><strong> {{error}}</strong></p>
   	{% endif %}
</html>