<html>
<head>
    <title>Home</title>
    <style>
        #heading{
            font-size: 70px;
            color:darkgreen;
            text-align:center;
        }
        #body{
            font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        }
        .buttons{
            background-color:red;
            border-color:darkred;
            color:white;
            padding:15px 32px;
        }
    </style>
</head>
<body id="body">
    <h2 id="heading">Mad Chatter</h2>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
	<h2>Share something with us!</h2>
    <input type="text" name = "description" placeholder="Title" required/> </br>
	<input type="url" name = "content" placeholder="Link" required/> </br><br>
	<input type="checkbox" id="makePublic" name= "makePublic" value="1" placeholder="Public"/>
	<label for="makePublic">Make it public</label><br><br>
	<input type="submit" value = Post class="buttons"/>
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
    <th>Content Title</th>
	<th>Time</th>
	<th>Content</th>

{% for line in posts %}
	<tr>
        <td><a href="/single_post">{{line.content_name}}</td>
		<td>{{line.timest}}</td>
		<td>{{line.file_path}}</a></td>
	</tr>
{% endfor %}
</table>
<br>
<a href="/logout">Logout</a>

</body>


</html>
