<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hom_prof.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_butt_nav_logo.css')}}">
</head>
<body>
    <header role="banner">
        <h2 id="logo">Mad Chatter</h2>
        <a href="/home"><button type="button" class="nav-buttons">Home</button></a>
        <a href="/friend_group"><button type="button" class="nav-buttons">Manage Friend Groups</button></a>
         <a href="/user_item"><button type="button" class="nav-buttons">Manage Your Posts</button></a>
        <a href="/profile/{{username}}"><button type="button" class="nav-buttons">My Profile</button></a>
        <a href="/notif"><button type="button" class="nav-buttons">Notifications</button></a>
        <a href="/reset_password"><button type="button" class="nav-buttons">Settings</button></a>
        <a href="/change_password"><button type="button" class="nav-buttons">Change Password</button></a>
        <a href="/logout"><button type="button" class="nav-buttons">Logout</button></a>


    </header>
    <form action="/post" method="POST">
	   <h1>Welcome {{username}}</h1>
	   <h2>Share something with us!</h2>
        <input type="text" name = "description" placeholder="Title" required/> </br>
        <input type="url" name = "content" placeholder="Link" required/> <br><br/>
	    <input type="checkbox" id="makePublic" name= "makePublic" value="1" placeholder="Public"/>
	    <label for="makePublic">Make it public</label><br><br/>
	    <input type="submit" value = Post class="buttons"/>
    </form>

<table>
    <th>Title</th>
	<th>Time</th>
    <th>Posted by</th>
	<th>Content</th>
    <th>Comments</th>
    <th>Tags</th>

{% for line in posts %}
	<tr>
        <td>{{line.content_name}}</td>
		<td>{{line.timest}}</td>
        <td></td> <!--fname of poster-->
		<td><img src={{line.file_path}} style="width:400px;height:400px;"></td>
        <td></td> <!--# of comments-->
        <td></td> <!--# of tags-->
        <td><a href="/view/{{line.id}}">View</a></td>
        <td><a href="/comment/{{line.id}}">Comment</a></td>
        <td><a href="/share_via_email/{{line.id}}">Share Via Email</a></td>
        <td><form action="/tag/{{line.id}}" method="POST">
        			<input type="text" name="taggee" placeholder="username"/>
        			<input type="submit" value=Tag></form></td>
	</tr>
{% endfor %}
</table>
<br>

</body>


</html>
