<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_butt_nav_logo.css')}}">
</head>
<body>
    <header role="banner">
        <h2 id="logo">Mad Chatter</h2>
        <a href="/home"><button type="button" class="nav-buttons">Home</button></a>
        <a href="/profile/{{username}}"><button type="button" class="nav-buttons">My Profile</button></a>
        <a href="/notif"><button type="button" class="nav-buttons">Notifications</button></a>
        <a href="/change_password"><button type="button" class="nav-buttons">Settings</button></a>
        <a href="/logout"><button type="button" class="nav-buttons">Logout</button></a>
    </header>
    <div class="flex-container">
        <div class="left">
            <form action="/post" method="POST">
                {%for line in user %}
                <div class="box">
                    <h1 id="welcome"><b>Welcome {{line.first_name}}</b></h1>
                {% endfor %}
                    <h2 style="color:#db8585"><i>Share something with us!</i></h2>
                    <p>Title</p>
                    <input class="enter-info" type="text" name = "description" placeholder="Give it a name!" required/> </br>
                    <p>URL</p>
                    <input class="enter-info" type="url" name = "content" placeholder="Link to your photo!" required/> <br><br/>
                    <input type="checkbox" id="makePublic" name= "makePublic" value="1" placeholder="Public"/>
	                <label for="makePublic">Make it public</label><br><br>
	                <input type="submit" value = Post class="buttons"/>
                </div>
            </form>
        </div>
        <div>
            {% for line in posts %}
            <div class="post-container">
                <div>
                    <h1>{{line.content_name}}</h1>
                    <p>{{line.timest}}</p>
                </div>
                <div>
                    <a href="/view/{{line.id}}"><img id="image" src={{line.file_path}}></a>
                </div>
                <div>
                    <form action="comment/{{line.id}}" method="POST">
        			<input type="text" name="comment" placeholder="Your comment"/>
                    <input class="item-buttons" type="submit" value="Comment"></form>
                </div>
                <div>
                    <form action="/tag/{{line.id}}" method="POST">
                        <input type="text" name="taggee" placeholder="username"/>
                        <input class="item-buttons" type="submit" value=Tag></form>
                </div>
                <div>
                    <form action="share/{{line.id}}" method="GET">
        			<input type="text" name="share_to" placeholder="Username" minlength=4 required>
        			<input class="item-buttons" type="submit" value="Share"></form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </form>
