<html>
<head>
    <title>Index Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ind_log_reg_res.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_butt_nav_logo.css')}}">
</head>
    <body>
        <div>
        <header role="banner">
             <h2 id="logo">Mad Chatter</h2>
        </header>
        {% if not message %}
        <br>
 		<a href="/login"><button type="button" class="buttons">Login</button></a>
 		<a href="/register"><button type="button" class="buttons">Register</button></a>
    {% endif %}
 	</div>
  
  {% if message %}
  	<a href="/logout">Logout</a>
       </body>
    {% endif %}
 	
</html> 