<html lang="en">
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="css/pagestyle.css">
</head>
<body>
    <header role="banner">
        <h2>Mad Chatter</h2>
    </header>
    <form action="/loginAuth" method="POST">
	   <input type="text" name = "username" placeholder="username" required/> </br>
	   <input type="password" name = "password" placeholder="password" required/> </br>
	   <input type="submit" value = Login class="buttons"/>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/resetPassword">Forgot Password</a>
</br>
<a href="/">Go back</a>

</body>


</html>
