<html lang="en">
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ind_log_reg_res.css')}}">
</head>
<body>
    <header role="banner">
        <h2 id="logo">Mad Chatter</h2>
    </header>
    <form action="/loginAuth" method="POST">
        <p>Username: <input type="text" name = "username" placeholder="username" required/></p>
        <p>Password: <input type="password" name = "password" placeholder="password" required/></p><br>
	   <input type="submit" value = Login class="buttons"/>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/forgot_password">Forgot Password</a>
</br>
<a href="/">Go back</a>

</body>


</html>
