<html>
<head>
    <title>Notifications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_butt_nav_logo.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notif.css')}}"/>
</head>
<body>
    <header role="banner">
        <h2 id="logo">Mad Chatter</h2>
        <a href="/home"><button type="button" class="nav-buttons">Home</button></a>
        <a href="/profile/{{username}}"><button type="button" class="nav-buttons">My Profile</button></a>
        <a href="/notif"><button type="button" class="nav-buttons">Notifications</button></a>
        <a href="/change_password"><button type="button" class="nav-buttons">Settings</button></a>
        <a href="/logout"><button type="button" class="nav-buttons">Logout</button></a>
    </header>
    <h1>Pending Tags</h1>
    <div class="flex-container">
        {% for line in pendingTags %}
        <div class="post-container">
            <div><h2>{{line.content_name}}</h2></div>
            <div><img id="image" src="{{line.file_path}}"></div>
            <p>Tagged by {{line.username_tagger}}</p>
            <div class="button-flex">
                <form action="/acceptTag/{{line.id}}" method="POST">
                    <input type="submit" value="Accept" class="buttons"/>
                </form>
                <form action="/denyTag/{{line.id}}" method="POST">
                    <input type="submit" value="Deny" class="buttons"/>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    </body>
</html>
