<html>
<head>
    <title>Notifications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hom_prof.css')}}"/>
</head>
<body>
    <header role="banner">
        <h2 id="logo">Mad Chatter</h2>
        <a href="/home_nav"><button type="button" class="nav-buttons">Home</button></a>
        <a href="/profile"><button type="button" class="nav-buttons">My Profile</button></a>
        <a href="/notif"><button type="button" class="nav-buttons">Notifications</button></a>
        <a href="/resetPassword"><button type="button" class="nav-buttons">Settings</button></a>
        <a href="/logout"><button type="button" class="nav-buttons">Logout</button></a>
    </header>
</body>
</html>