<html>
<head>
    <title>{{username}}'s Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hom_prof.css')}}"/>
</head>
<body>
    <header role="banner">
        <h2 id="logo">Mad Chatter</h2>
        <a href="/home"><button type="button" class="nav-buttons">Home</button></a>
        <a href="/profile/{{username}}"><button type="button" class="nav-buttons">My Profile</button></a>
        <a href="/notif"><button type="button" class="nav-buttons">Notifications</button></a>
        <a href="/resetPassword"><button type="button" class="nav-buttons">Settings</button></a>
        <a href="/logout"><button type="button" class="nav-buttons">Logout</button></a>
    </header>
    <h1>{{username}}'s Profile</h1>
    <h2>Friends List</h2>
    <table>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>

    {% for line in friends %}
        <tr>
            <td><a href="/view/{{line.username}}">{{line.username}}</a></td>
            <td>{{line.first_name}}</td>
            <td>{{line.last_name}}</td>
        </tr>
    {% endfor %}
    </table>

    <h2>Groups</h2>
    <table>
        <th>Name</th>
        <th>Status</th>

    {% for line in groups %}
        <tr>
            <td>{{line.group_name}}</td>
            <td>{{line.status}}</td>
        </tr>
    {% endfor %}
    </table>

    <h2>{{username}}'s Posts</h2>
    <table>
        <th>Title</th>
        <th>Time</th>
        <th>Posted by</th>
        <th>Content</th>
        <th>Comments</th>
        <th>Tags</th>

    {% for line in posts %}
        <tr>
            <td>{{line.content_name}}</td>
            <td>{{line.timest}}</td>
            <td></td> <!--fname of poster-->
            <td><img src={{line.file_path}} style="width:400px;height:400px;"></td>
            <td></td> <!--# of comments-->
            <td></td> <!--# of tags-->
            <td><a href="/view/{{line.id}}">View Item</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
