<html>
<head>
    {% for line in user %}
    <title>{{line.first_name}}'s Profile</title>
    {% endfor %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hom_prof.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_butt_nav_logo.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}"/>
</head>
<body>
    <header role="banner">
        <h2 id="logo">Mad Chatter</h2>
        <a href="/home"><button type="button" class="nav-buttons">Home</button></a>
        <a href="/profile/{{username}}"><button type="button" class="nav-buttons">My Profile</button></a>
        <a href="/notif"><button type="button" class="nav-buttons">Notifications</button></a>
        <a href="/change_password"><button type="button" class="nav-buttons">Settings</button></a>
        <a href="/logout"><button type="button" class="nav-buttons">Logout</button></a>
    </header>
    
    <div class="flex-container">
        <div class="flex-left">
        <div id="me">
            {% for line in user %}
            <h1 id="me-name">{{line.first_name}} {{line.last_name}}</h1>
            <p id="me-id">@{{username}}</p>
            {% endfor %}
        </div>
        
        <div>
            <h2>Friends List</h2>
            <table>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>

            {% for line in friends %}
            <tr>
                <td>{{line.username}}</td>
                <td>{{line.first_name}}</td>
                <td>{{line.last_name}}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
        <br>
        <div>
            <h2>Groups</h2>
            <table>
                <th>Group</th>
                <th>Status</th>

            {% for line in groups %}
            <tr>
                <td>{{line.group_name}}</td>
                <td>{{line.status}}</td>
                 <td><a href="/add_friend/{{line.group_name}}">Add Friend</a></td>
                
            </tr>
            {% endfor %}
            </table>
        </div>
        <div id="group-butt">
            <a href="/create_group"><button type="button" class="item-buttons">Create Group</button></a>
        </div>
    </div>
        <div>
            {% for line in posts %}
            <div class="post-container">
                <div>
                    <h1>{{line.content_name}}</h1>
                    <p>{{line.timest}}</p>
                </div>
                <div>
                    <img id="image" src={{line.file_path}}>
                </div>
                <div id="post-butt">
                    <a href="/view/{{line.id}}"><button type="button" class="item-buttons">View</button></a>
                    
                    <a href="/delete/{{line.id}}"><button type="button" class="item-buttons">Delete</button></a>
                    <a href="/share_via_email/{{line.id}}"><button type="button" class="item-buttons">Share</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
