<html lang="en">
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ind_log_reg_res.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_butt_nav_logo.css')}}">
</head>
<body>
    <header role="banner">
        <h2>Mad Chatter</h2>
    <form action="/reset_password" method="POST">
        <p>Username: <input type="text" name = "username" placeholder="Your username" required/></p>
        <p>Email: <input type="email" name = "email" placeholder="Your email address" required/></p><br>
	   <input type="submit" value = "Reset Passowrd" class="buttons"/>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
	</form>
	<a href="/">Go back</a>
</body>
