<html lang="en">
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="css/pagestyle.css">
</head>
<body>
    <header role="banner">
        <h2>Mad Chatter</h2>
    </header>
	<p>Enter your username</p>
	<form action="/resetPassword" method="POST">
		<input type="text" name = "username" placeholder="username" required/> </br>
		<input type="submit" value = "Reset Password" class="buttons"/>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}
	</form>
	<a href="/">Go back</a>
</body>
